Morte.xcodeproj/project.xcworkspace/xcuserdata/ftamagni.xcuserdatad/UserInterfaceState.xcuserstate
Morte.xcodeproj/project.xcworkspace/xcuserdata/ftamagni.xcuserdatad/WorkspaceSettings.xcsettings
Morte.xcodeproj/xcuserdata/ftamagni.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Morte.xcodeproj/xcuserdata/ftamagni.xcuserdatad/xcschemes/Morte.xcscheme
Morte.xcodeproj/xcuserdata/ftamagni.xcuserdatad/xcschemes/xcschememanagement.plist
